<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="treinandoListasV4">
    <div v-for="n in 10"> {{ n }}</div>
    <hr>
    <div v-for="person in listPerson"> {{ person.Name }} 
        <div v-for="(valor, chave, index) in person">{{ index }}º {{ chave }} {{ valor }}</div>
    </div>
    <hr>
    <div v-for="mult in 10"> {{ 9 }} x {{ mult }} = {{9*mult}}</div>

</div>

<script>
    new Vue ({
        el: '#treinandoListasV4',
        data: {
            listPerson: [
                {Name: 'Krhistopher', Age: 24, Years: 1998},
                {Name: 'Tarcisio', Age: 34, Years: 1988}
            ]

        }
    })
</script>